In [1]:
import pandas as pd
import duckdb
import time

In [5]:
df = pd.read_csv("/home/leloc/Document/USTH/Thesis/Data/preprocess.csv")

In [6]:
con = duckdb.connect("translation.db")

# Tạo bảng nếu chưa có
con.execute("""
    CREATE TABLE IF NOT EXISTS translations (
        thai TEXT,
        vietnamese TEXT
    )
""")

# Chèn dữ liệu và đo thời gian
start = time.time()

con.register("df_view", df)
con.execute("INSERT INTO translations SELECT * FROM df_view")

end = time.time()
print(f"✅ Đã chèn {len(df)} dòng vào DuckDB trong {end - start:.2f} giây")

con.close()

✅ Đã chèn 15193992 dòng vào DuckDB trong 19.40 giây

In [8]:
con = duckdb.connect("translation.db")
print(con.execute("SELECT COUNT(*) FROM translations").fetchone()[0])
con.close()

15193992

In [4]:
con = duckdb.connect("translation.db")
df = con.execute("SELECT * FROM translations LIMIT 5").fetchdf()
df

,thai,viet
0,- รร.แกรนด์โฮเต็ล,- Khách sạn Grand.
1,- สายไม่ว่าง,- Đường dây bận.
2,นั่นใครพูดคะ,Ai đấy?
3,ฉันจะโอนสายคุณ ไปที่แผนกรูมเซอร์วิส,Tôi có thể kết nối quý khách với dịch vụ phòng.
4,ฮัลโหลๆ,A lô.

In [ ]:
con = duckdb.connect("/home/leloc/Document/USTH/Thesis/translation.db")

con.execute("ALTER TABLE translations ADD COLUMN IF NOT EXISTS thai_input_ids BLOB")
con.execute("ALTER TABLE translations ADD COLUMN IF NOT EXISTS thai_attention_mask BLOB")
con.execute("ALTER TABLE translations ADD COLUMN IF NOT EXISTS vi_input_ids BLOB")
con.execute("ALTER TABLE translations ADD COLUMN IF NOT EXISTS vi_attention_mask BLOB")

con.close()

In [ ]:
con = duckdb.connect("/home/leloc/Document/USTH/Thesis/translation.db")
result = con.execute("SHOW TABLES").fetchall()
print(result)

[('translations',)]

In [ ]:
result = con.execute("DESCRIBE translations").fetchall()
print(result)

[(0, 'thai', 'VARCHAR', False, None, False), (1, 'viet', 'VARCHAR', False, None, False), (2, 'thai_input_ids', 'BLOB', False, None, False), (3, 'thai_attention_mask', 'BLOB', False, None, False), (4, 'vi_input_ids', 'BLOB', False, None, False), (5, 'vi_attention_mask', 'BLOB', False, None, False)]