In [1]:
import pandas as pd
import duckdb
import time

In [5]:
df = pd.read_csv("/home/leloc/Document/USTH/Thesis/Data/preprocess.csv")

In [6]:
con = duckdb.connect("translation.db")

# Tạo bảng nếu chưa có
con.execute("""
    CREATE TABLE IF NOT EXISTS translations (
        thai TEXT,
        vietnamese TEXT
    )
""")

# Chèn dữ liệu và đo thời gian
start = time.time()

con.register("df_view", df)
con.execute("INSERT INTO translations SELECT * FROM df_view")

end = time.time()
print(f"✅ Đã chèn {len(df)} dòng vào DuckDB trong {end - start:.2f} giây")

con.close()

✅ Đã chèn 15193992 dòng vào DuckDB trong 19.40 giây

In [8]:
con = duckdb.connect("translation.db")
print(con.execute("SELECT COUNT(*) FROM translations").fetchone()[0])
con.close()

15193992

In [11]:
df = con.execute("SELECT * FROM translations LIMIT 5").fetchdf()
df

,thai,viet,thai_input_ids,thai_attention_mask,vi_input_ids,vi_attention_mask
0,- รร.แกรนด์โฮเต็ล,- Khách sạn Grand.,"[128, 4, 149, 140, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 140, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 113, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 113, 1, 0, 0, 0, 0, 0, 0, 140, 2..."
1,- สายไม่ว่าง,- Đường dây bận.,"[128, 4, 149, 140, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 140, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 113, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 113, 1, 0, 0, 0, 0, 0, 0, 140, 2..."
2,นั่นใครพูดคะ,Ai đấy?,"[128, 4, 149, 140, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 140, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 113, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 113, 1, 0, 0, 0, 0, 0, 0, 140, 2..."
3,ฉันจะโอนสายคุณ ไปที่แผนกรูมเซอร์วิส,Tôi có thể kết nối quý khách với dịch vụ phòng.,"[128, 4, 149, 140, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 140, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 113, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 113, 1, 0, 0, 0, 0, 0, 0, 140, 2..."
4,ฮัลโหลๆ,A lô.,"[128, 4, 149, 140, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 140, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 113, 1, 0, 0, 0, 0, 0, 0, 140, 2...","[128, 4, 149, 113, 1, 0, 0, 0, 0, 0, 0, 140, 2..."

In [ ]:
con = duckdb.connect("/home/leloc/Document/USTH/Thesis/translation.db")

con.execute("ALTER TABLE translations ADD COLUMN IF NOT EXISTS thai_input_ids BLOB")
con.execute("ALTER TABLE translations ADD COLUMN IF NOT EXISTS thai_attention_mask BLOB")
con.execute("ALTER TABLE translations ADD COLUMN IF NOT EXISTS vi_input_ids BLOB")
con.execute("ALTER TABLE translations ADD COLUMN IF NOT EXISTS vi_attention_mask BLOB")

con.close()

In [9]:
con = duckdb.connect("/home/leloc/Document/USTH/Thesis/translation.db")
result = con.execute("SHOW TABLES").fetchall()
print(result)

[('tokenized_batches',), ('translations',)]

In [10]:
result = con.execute("DESCRIBE translations").fetchall()
print(result)

[('thai', 'VARCHAR', 'YES', None, None, None), ('viet', 'VARCHAR', 'YES', None, None, None), ('thai_input_ids', 'BLOB', 'YES', None, None, None), ('thai_attention_mask', 'BLOB', 'YES', None, None, None), ('vi_input_ids', 'BLOB', 'YES', None, None, None), ('vi_attention_mask', 'BLOB', 'YES', None, None, None)]